/****** General ***********/
body {
  color: #000;
  font-family: Raleway;
  font-style: normal;
  line-height: normal;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}


.search-field input,
.search-submit input {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-weight: 400;

}

/* MEDIA QUERIES LARGE SCREEN */
@media screen and (min-width: 1440px) {
  .large-container{
    max-width: 1440px;
    margin: auto;
  }
}

/* MEDIA QUERIES TABLETTE */

@media screen and (min-width: 1024px) and (max-width: 1440px) {

  .hebergements {
    flex-direction: column !important;
    align-items: start !important;
    width: 100% !important;

  }

  .hebergements-general {
    width: 100%;
    max-width: 100% !important;
    /* background-color: yellow; */
    /* On l'avait pas ce box-sizing mais super utile pour inclure le padding et la margin dans la width totale allowed */
    box-sizing: border-box !important;
  }

  .hebergements-cards-row a {
    width: 243px !important;
    max-width: 243px !important;
  }

  .hebergements-card {
    width: 243px !important;
    max-width: 243px !important;
  }

  .hebergements-populaires {
    width: 100% !important;
    /* On l'avait pas ce box-sizing mais super utile pour inclure le padding et la margin dans la width totale allowed */
    box-sizing: border-box !important;

  }

  .populaires-cards {
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 20px !important;
  }

  .populaires-cards a {
    display: flex !important;
    height: 146px !important;
    width: 275px !important;
  }

  .populaires-card-img {
    height: 146px !important;
    width: 92px !important;
  }

  .filterbar {
    flex-direction: column !important;
    align-items: start !important;
    gap: 20px !important;
    height: 100% !important;
  }

  .activites-cards a {
    height: 270px !important;
  }

  .activites-card-img {
    height: 200px !important;
    max-height: 200px !important ;
    background-position: bottom !important;
  }

  .activites-card-data {
    height: 70px !important;
  }
}

/* MEDIA QUERIES MOBILE */
@media screen and (min-width: 375px) and (max-width: 1024px) {

  .search-submit i {
    display: flex !important;
  }

  .search-submit input {
    display: none !important;
  }

  .filterbar {
    flex-direction: column !important;
    align-items: start !important;
    /* justify-content: center; */
    gap: 20px !important;
    height: 100% !important;
  }

    .filter-items {
      flex-wrap: wrap !important;
      justify-content: center !important;
      height: 100% !important;
    }

    .filter-item {
      width: 135px !important;

    }

}


/* HEADER */

header {
  display: flex !important;
  /* gap: 950px; */
  align-self: stretch;
  margin-bottom: 30px;
}

/* Comme c'est cliquable, j'ai un a qui entoure, donc c'est sur le a qui fallait mettre mon flex-grow, mais sur le logo ! Compris */
header > a {
  flex-grow: 1;
}

.logo {
  display: flex;
  padding: 30px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.logo img {
  width: 61.09px;
  height: 19px;
}

.header-nav {
  display: flex;
  gap: 68px;
  padding: 0px 50px;
}

.header-nav-item-link {
  padding-block: 20px;
  color: black;
}

.header-nav-item-link:hover {
  border-top: #0065FC solid 2px;
  color: #0065FC;
}



.main-container {
  display: flex;
  padding: 0px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  /* Permet qu'en rétrecissant ça ne décale pas ma navbar alors que ma width est fixe  */
  overflow: hidden;
  /* border: red 1px solid; */
}


main {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  /* align-self: stretch; */
}

/* Zone de recherche */

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  align-self: stretch;
}

.header {
  display: flex;
  height: 53px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.form {
  display: flex;
  /* width: 377px; */
  height: 49px;
  align-items: center;
  gap: 24px;
  border-radius: 15px;
  /* border: 1px solid var(--grey, #F2F2F2); */
  background: var(--white, #FFF);
  border: 1px solid #F2F2F2;
  border-radius: 15px;
}

.search-pin {
  width: 50px;
  height: 49px;
  background-color: #F2F2F2;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0px 0px 15px;
}


.search-field input[type="text"] {
  width: 100%;
  border: transparent;
  /* Je n'arrive pas à mettre une couleur de police noire  */
}

#site-search {
  text-align: start;
  width: 100%;
  width: 150px;
}

#site-search::placeholder {
  color: black;
}

#site-search:focus {
  /* background-color: green; */
  outline: none;
}

/* Utilisation du pseudo-element pour cibler le placeholder */

#site-search:focus::placeholder{
  color: white;
}

.search-submit {
  display: flex;
  align-items: center
}


.search-submit i {
  display: flex;
  height: 19px;
  padding: 15px 16px;
  align-items: center;
  gap: 10px;
  background-color: #0065FC;
  color: white;
  border-radius: 0px 15px 15px 0px;
  border: transparent;
  display: none;
}



.search-submit input {
  display: flex;
  height: 49px;
  padding: 15px 16px;
  align-items: center;
  gap: 10px;
  background-color: #0065FC;
  color: white;
  border-radius: 0px 15px 15px 0px;
  border: transparent;
}

.search-submit:hover input {
  opacity: 0.7;
  transition-duration: 0.3s;
  cursor: pointer;
}

#search-submit {
  outline: none;
}







/* FILTER BAR */

.filterbar {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 15px;
}


.filter-items {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 15px;
}


.filter-item {
  display: flex;
  height: 50px;
  /* Au lieu de padding 4 je mets 0 car c'est un peu trop épais mais je ne comprends pas pourquoi */
  padding: 0px 19px;
  align-items: center;
  gap: 10px;
  background-color: white;
  /* Je mets border-radius 50px pour que ce soit plus arrondi au lieu de 35px du figma */
  border-radius: 50px;
  border: 2px solid var(--grey-tint-2, #D9D9D9);
}

.filter-item:hover {
  background-color: #DEEBFF;
  transition-duration: 300ms;
  cursor: pointer;

}

.filter-item i {
  color: #0065FC;
}

.filter-item:hover i {
  transition-duration: 300ms;
}

.filter-item-text {
  font-size: 17px;
  font-weight: 700;
}

.infobar {
  display: flex;
  height: 24px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}


.infobar-icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px #F2F2F2;
}


/* ------ Hebergements ------- */

.hebergements {
  display: flex;
  align-items: center;
  gap: 40px;
  /* align-self: stretch; */
  /* Justify content? */
  width: 100%;
}



.hebergements-general {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-grow: 1;
  /* width: 100%; */
  max-width: 100%;
  border-radius: 15px;
  background: var(--grey, #F2F2F2);
}


.hebergements-cards-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%
}

.hebergements-card {
  display: flex;
  flex-direction: column;
  /* width: 243px; */
  /* max-width: 243px; */

  padding-bottom: 15px;
  gap: 4px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
  flex-grow: 1;
}

.hebergements-card img {
  height: 124px;
  /* width: 100%; */
  /* align-self: stretch; */
  border-radius: 20px 20px 0px 0px;
  border: 5px solid var(--white, #FFF);
  background: url('../images/hebergements/annie-spratt.jpg'), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center;
}

.hebergements-card-data {
  display: flex;
  padding: 0px 15px;
  flex-direction: column;
  gap: 8px;
}

.hebergements-card-stars {
  font-size: 14px;
}

.blue-icon {
  color: #0065FC;
}

.grey-icon {
  color: #F2F2F2;
}

.card-text {
  font-size: 14px;
  font-weight: 400;
}

.euro {
  font-weight: 600;
}

.medium-title {
  font-size: 18px;
  font-weight: 700;
}

.hebergements-populaires {
  display: flex;
  flex-direction: column;
  /* J'enlève la width fixe, car j'ai plutôt fixé à quoi ressemble une card, cf design system */
  /* width: 429px; */
  padding: 30px;
  align-items: center;
  gap: 30px;
  /* align-self: stretch; */
  border-radius: 15px;
  background: var(--grey, #F2F2F2);
}


.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.populaires-cards{
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 30px;
  align-self: stretch;
}


.populaires-card {
  display: flex;
  height: 146px;
  width: 369px;

  align-self: stretch;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
  /* padding: 5px; */
    /* Pour donner un effet margin, mais en fait non, solid border de 5px sur 3 côtés - pas utilisé, j'ai mis du padding à la card à la place */
  border-top: 5px solid var(--white, #FFF);
  border-bottom: 5px solid var(--white, #FFF);
  border-left: 5px solid var(--white, #FFF);
  overflow: hidden;
}

.populaires-card-img {
  height: 146px;
  width: 123px;
}

.populaires-card-data {
  display: flex;
  width: 246px;
  height: 134px;
  padding: 10px 0px 0px 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.populaires-card-data-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
  align-self: stretch;
}

.populaires-card-stars {
  font-size: 12px;
  padding-bottom: 5px;
}

/* Activités */

.activites {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}

.activites-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.link-card{
  width: 100%;
}

.activites-cards a {
  height: 439px;
}

.activites-card {
  display: flex;
  /* height: 439px; */
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  align-self: stretch;
  width: 100%;
  /* background-color: blue; */
}

.activites-card-img {
  width: 100%;
  height: 380px;
  max-height: 380px;
  overflow: hidden;
  /* align-self: stretch; */
  /* background: url('../images/activites/florian-wehde.jpg'), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: top; */
}

.activites-card-data {
  height: 59px;
  display: flex;
  padding: 20px 19px;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.card-title {
  /* width: 100%; */
}


/* Footer */
footer {
  display: flex !important;
  align-items: flex-start;
  align-self: stretch;
  background: var(--grey, #F2F2F2);
}

.footer-nav {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-grow: 1;
  align-self: stretch;
}


















/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
